<template functional>
  <div
    aria-label="Loading"
    :class="[
      'r-progress is-active',
      { 'is-full-page': props.isFullPage },
    ]"
  >
    <svg
      viewBox="0 0 38 38"
      xmlns="http://www.w3.org/2000/svg"
      :width="64"
      :height="64"
    >
      <g
        fill="none"
        fill-rule="evenodd"
      >
        <g
          transform="translate(1 1)"
          stroke-width="2"
        >
          <circle
            stroke-opacity=".25"
            cx="18"
            cy="18"
            r="18"
          />
          <path d="M36 18c0-9.94-8.06-18-18-18">
            <animateTransform
              attributeName="transform"
              type="rotate"
              from="0 18 18"
              to="360 18 18"
              dur="0.8s"
              repeatCount="indefinite"
            />
          </path>
        </g>
      </g>
    </svg>
  </div>
</template>

<script>
export default {
  name: 'r-progress',

  props: {
    isFullPage: {
      type: Boolean,
      default: true,
    },
  },
};
</script>

<style lang="scss">
/** @define r-progress */
.r-progress {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
  background: rgba(var(--light-default), 0.5);
  stroke: var(--dark-default);

  &.is-full-page {
    z-index: 20;
    position: fixed;
  }
}
</style>
