<template functional>
  <div :class="['r-row', {'r-row_no-margin': props.noMargin}, data.staticClass]">
    <slot />
  </div>
</template>

<script>
/**
 * Component: r-row - Component for row in grid system
 *
 * @version 1.0.0
 * @copyright reports 2020
 */

export default {
  name: 'r-row',

  props: {
    noMargin: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style lang="scss">
@import "../../../assets/scss/mixins";

/** @define r-row */
.r-row {
  $this: &;

  display: flex;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 20px;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -0.5 * 20px;
  margin-right: -0.5 * 20px;

  @include clearfix;

  &_no-margin {
    margin-bottom: 0;
  }
}
</style>
