<template>
  <div class="r-reports-list-item-device">
    <r-row>
      <r-col
        :span="4"
        data-test="device-name"
      >
        {{ device.location }}: {{ device.name }}
      </r-col>
      <r-col
        :span="2"
        data-test="device-min"
      >
        {{ device.min }}
      </r-col>
      <r-col
        :span="2"
        data-test="device-max"
      >
        {{ device.max }}
      </r-col>
      <r-col
        :span="2"
        data-test="device-avg"
      >
        {{ device.avg }}
      </r-col>
      <r-col
        :span="2"
        data-test="device-median"
      >
        {{ device.median }}
      </r-col>
    </r-row>
  </div>
</template>

<script>
/**
 * Component: r-reports-list-item-device - Component for displaying single device info
 *
 * @version 1.0.0
 * @copyright reports 2020
 */

// UI Components
import {
  RRow,
  RCol,
} from '@/components/ui-components/index';

export default {
  name: 'r-reports-list-item-device',

  components: {
    RRow,
    RCol,
  },

  props: {
    device: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style lang="scss">
/** @define r-reports-list-item-device */
.r-reports-list-item-device {
  $this: &;

  color: var(--dark-default);
  font-size: 18px;
}
</style>
