<template>
  <div class="r-reports-list">
    <r-progress
      v-if="isLoadingReport"
    />

    <template v-else>
      <p
        class="r-reports-list__day"
        data-test="date-info"
      >
        Report for: {{ getDate }}
      </p>

      <div class="r-reports-list__content">
        <r-reports-list-item
          v-for="(report, index) in report.results"
          :key="index"
          :report="report"
          :time-index="index"
        />
      </div>
    </template>
  </div>
</template>

<script>
/**
 * Component: r-reports-list-item - Component for reports full list
 *
 * @version 1.0.0
 * @copyright reports 2020
 */

// Utils
import {
  mapActions,
  mapState,
} from 'vuex';
import { format } from 'date-fns';

// Constants
import { FORMAT_OF_DATE } from '@/utils';

// Components
import RReportsListItem from '@/components/report/RReportsListItem';

// UI Components
import { RProgress } from '@/components/ui-components/index';

export default {
  name: 'r-reports-list',

  components: {
    RReportsListItem,
    RProgress,
  },

  computed: {
    ...mapState('report', ['report', 'isLoadingReport']),

    getDate() {
      return format(new Date(this.report.date), FORMAT_OF_DATE);
    },
  },

  created() {
    this.getReport();
  },

  methods: {
    ...mapActions('report', ['getReport']),
  },
};
</script>

<style lang="scss">
/** @define r-reports-list */
.r-reports-list {
  $this: &;

  padding: 40px;

  &__day {
    font-size: 30px;
    margin-bottom: 60px;
    color: var(--dark-default);
  }
}
</style>
