<template>
  <div class="r-reports-list-item">
    <p class="r-reports-list-item__time">
      {{ getTime() }} - {{ getTime(1) }}
    </p>
    <r-row class="r-reports-list-item__table-heading">
      <r-col :span="4">
        Device
      </r-col>
      <r-col :span="2">
        Min
      </r-col>
      <r-col :span="2">
        Max
      </r-col>
      <r-col :span="2">
        Avg
      </r-col>
      <r-col :span="2">
        Median
      </r-col>
    </r-row>
    <r-reports-list-item-device
      v-for="(device, index) in report"
      :key="index + device.name"
      :device="device"
    />
  </div>
</template>

<script>
/**
 * Component: r-reports-list-item - Component for displaying single report information
 *
 * @version 1.0.0
 * @copyright reports 2020
 */

// UI Components
import {
  RRow,
  RCol,
} from '@/components/ui-components/index';

// Components
import RReportsListItemDevice from '@/components/report/RReportsListItemDevice';

export default {
  name: 'r-reports-list-item',

  components: {
    RReportsListItemDevice,
    RRow,
    RCol,
  },

  props: {
    report: {
      type: Array,
      required: true,
    },

    timeIndex: {
      type: Number,
      required: true,
    },
  },

  computed: {
    getTime() {
      return (increment = 0) => {
        const time = `${this.timeIndex + increment}:00`;
        return this.timeIndex > 9 ? time : `0${time}`;
      };
    },
  },
};
</script>

<style lang="scss">
/** @define r-reports-list-item */
.r-reports-list-item {
  $this: &;

  padding: 30px 0;
  border-bottom: 1px solid var(--neutral-2);

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }

  &__time {
    font-weight: bold;
    margin-bottom: 30px;
    color: var(--dark-default);
    font-size: 18px;
  }

  &__table-heading {
    color: var(--neutral-3);
    font-size: 14px;
  }
}
</style>
