<template>
  <div id="app">
    <r-reports-list />
  </div>
</template>

<script>
// Components
import RReportsList from '@/components/report/RReportsList';

export default {
  name: 'app',

  components: {
    RReportsList,
  },
};
</script>

<style lang="scss">
@import "./assets/scss/global";
</style>
