<script>
/**
 * Component: r-col - Component for column
 *
 * @version 1.0.0
 */

const GUTTER = 20;

export default {
  name: 'r-col',

  props: {
    span: {
      type: Number,
      default: 12,
    },

    tag: {
      type: String,
      default: 'div',
    },

    offset: {
      type: Number,
      default: null,
    },

    pull: {
      type: Number,
      default: null,
    },

    push: {
      type: Number,
      default: null,
    },
  },

  render(h) {
    const classList = [];
    const style = {};

    style.paddingLeft = `${GUTTER / 2}px`;
    style.paddingRight = style.paddingLeft;

    ['span', 'offset', 'pull', 'push'].forEach((prop) => {
      if (this[prop] || this[prop] === 0) {
        classList.push(
          prop !== 'span'
            ? `r-col_${prop}_${this[prop]}`
            : `r-col_${this[prop]}`,
        );
      }
    });

    return h(this.tag, {
      class: ['r-col', classList],
      style,
    }, this.$slots.default);
  },
};
</script>

<style lang="scss">
/** @define r-col */
.r-col {
  $this: &;

  &_1,
  &_2,
  &_3,
  &_4,
  &_5,
  &_6,
  &_7,
  &_8,
  &_9,
  &_10,
  &_11,
  &_12 {
    float: left;
    box-sizing: border-box;
  }

  &_0 {
    width: 0;
  }

  @for $i from 0 to 13 { /* stylelint-disable-line */
    &_#{$i} {
      width: calc(1 / 12 * #{$i} * 100%);
    }

    &_offset_#{$i} {
      margin-left: calc(1 / 12 * #{$i} * 100%);
    }

    &_pull_#{$i} {
      position: relative;
      right: calc(1 / 12 * #{$i} * 100%);
    }

    &_push_#{$i} {
      position: relative;
      left: calc(1 / 12 * #{$i} * 100%);
    }
  }
}
</style>
